@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

.waveWrapper {
    margin-top: -40px;
    position: relative;
    height: 100px;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 100px;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
    background-size: 50% 100px;
    opacity: .7;
    filter: brightness(0.4) sepia(1) hue-rotate(180deg) saturate(3);
}

.waveMiddle {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
    background-size: 50% 100px;
    opacity: .7;
    animation: move_wave 8s linear infinite;
    filter: brightness(0.4) sepia(1) hue-rotate(180deg) saturate(3);
}

.waveBottom {
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
    background-size: 50% 100px;
    opacity: .7;
    animation: move_wave 12s linear infinite;
    filter: brightness(0.4) sepia(1) hue-rotate(180deg) saturate(3);
}